<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TOP</title>
    	<link href="/main.css" rel="stylesheet"></link>
        <meta charset="utf-8" />
    </head>
    <body>

	   <h1>製造部売上管理システム：案件一覧</h1>

	   	<!-- 登録ボタン -->
		<form class="left" action="/insert" method="post">
			<p><input type="submit" value="新規登録"></p>
		</form>

		<h1 class="center">検索</h1>

		<!-- 検索ボタン -->
		<form class="right" th:object="${saleRequest}" action="/search" method="post">
			<p>顧客:<select name="searchClient">
				<option value="">---------</option>
				<option th:each="cli : ${status}" th:object="${cli}" th:text="*{client}" th:value="${cli.client}" th:selected="${cli.client} == ${saleRequest.searchClient}"></option>
			</select></p>

			<p>ステータス:<select name="searchStatus">
				<option value="">---------</option>
				<option th:each="sta : ${statusNumber}" th:object="${sta}" th:text="*{status_number}" th:value="${sta.status_number}" th:selected="${sta.status_number} == ${saleRequest.searchStatus}"></option>
			</select></p>

			件名:&emsp; <input th:field="*{searchSomething}">
			<p><input type="submit" value="検索"></p>
		</form>

		<!-- ページングボタン -->
        <form method="post" name="btnFirst" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
        	<span th:if='${page.firstPage}'>&lt;&lt;</span>
		    <input type="hidden" name="page" value="0">
		    <a th:if='${not page.firstPage}' href="javascript:btnFirst.submit()">&lt;&lt;</a>
		</form>
        <form method="post" name="btnPrev" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
        	<span th:if='${page.firstPage}'>&lt;</span>
		    <input type="hidden" name="page" th:value="${page.number-2}">
		    <a th:if='${not page.firstPage}' href="javascript:btnPrev.submit()">&lt;</a>
		</form>
        <form th:each='item : ${page.items}' method="post" th:name="'btn_' + ${item.number}" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
		    <span th:if='${item.current}' th:text='${item.number}'></span>
		    <input type="hidden" name="page" th:value="${item.number-1}">
        	<a th:if='${not item.current}' th:text='${item.number}' th:href='@{javascript:btn_{btn}.submit()(btn=${item.number})}'></a>
		</form>
        <form method="post" name="btnNext" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
            <span th:if='${not page.hasNextPage}'>&gt;</span>
		    <input type="hidden" name="page" th:value="${page.number}">
		    <a th:if='${page.hasNextPage}' href="javascript:btnNext.submit()">&gt;</a>
		</form>
        <form method="post" name="btnLast" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
            <span th:if='${not page.hasNextPage}'>&gt;&gt;</span>
		    <input type="hidden" name="page" th:value="${page.totalPages - 1}">
		    <a th:if='${not page.lastPage}' href="javascript:btnLast.submit()">&gt;&gt;</a>
		</form>


		<!-- テーブル -->
        <table>
	        <thead>
				<tr>
					<th>No.</th>
					<th>顧客</th>
					<th>受注日</th>
					<th>S番号</th>
					<th>件名</th>
					<th>数量</th>
					<th>納入指定日<br>/納入日</th>
					<th>請求日</th>
					<th>見積金額<br>/受注金額</th>
					<th>ステータス</th>
					<th colspan=2></th>
				</tr>
			</thead>

			<tbody>
	            <tr th:each="cus : ${list}" th:object="${cus}">
	                <td th:text="*{no}"/>
	                <td th:text="*{client}"/>
	                <td th:if='${cus.order_date!=""}' th:text="*{order_date.substring(0,4)} + '/' + *{order_date.substring(4,6)} + '/' + *{order_date.substring(6,8)}"></td>
	                <td th:if='${cus.order_date==""}' th:text="'-'"></td>
	                <td th:if='${cus.s_number!=""}' th:text="'S-' + *{s_number}"/>
	                <td th:if='${cus.s_number==""}' th:text="'-'"/>
	                <td th:text="*{subject}"/>
	                <td th:if='${cus.quantity!=""}' th:text="*{quantity}"/>
	                <td th:if='${cus.quantity==""}' th:text="'-'"/>
	                <td>
		                <span th:if='${cus.delivery_date!=""}' th:text="*{delivery_date.substring(0,4)} + '/' + *{delivery_date.substring(4,6)} + '/' + *{delivery_date.substring(6,8)}"></span>
		                <span th:if='${cus.delivery_date==""}' th:text="'-'"></span>
		                <br>
		                <th:block th:if='${cus.due_date!=""}' th:text="*{due_date.substring(0,4)} + '/' + *{due_date.substring(4,6)} + '/' + *{due_date.substring(6,8)}"/>
		                <th:block th:if='${cus.due_date==""}' th:text="'-'">
	                </td>
	                <td th:if='${cus.billing_date!=""}' th:text="*{billing_date.substring(0,4)} + '/' + *{billing_date.substring(4,6)} + '/' + *{billing_date.substring(6,8)}"/>
	                <td th:if='${cus.billing_date==""}' th:text="'-'"/>
	                <td>
		                <span th:if='${cus.estimated_amount!=""}' th:text="'&yen;' + ${#numbers.formatInteger(cus.estimated_amount, 3, 'COMMA')}"></span>
		                <span th:if='${cus.estimated_amount==""}' th:text="'-'"></span>
		                <br>
		                <th:block th:if='${cus.order_amount!=""}' th:text="'&yen;' + ${#numbers.formatInteger(cus.order_amount, 3, 'COMMA')}"/>
		                <th:block th:if='${cus.order_amount==""}' th:text="'-'"/>
	                </td>
	                <td th:text="*{status_number}"/>
	                <td><form th:action="@{/edit/{no}(no=*{no})}" method="post"><input type="submit" value="編集"></form></td>
	                <td><form th:action="@{/delete/{no}(no=*{no})}" method="post"><input type="submit" value="削除"></form></td>
	            </tr>
            </tbody>
        </table>

		<!-- ページングボタン -->
        <form method="post" name="BtnFirst" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
        	<span th:if='${page.firstPage}'>&lt;&lt;</span>
		    <a th:if='${not page.firstPage}' href="javascript:BtnFirst.submit()">&lt;&lt;</a>
		    <input type="hidden" name="page" value="0">
		</form>
        <form method="post" name="BtnPrev" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
        	<span th:if='${page.firstPage}'>&lt;</span>
		    <a th:if='${not page.firstPage}' href="javascript:BtnPrev.submit()">&lt;</a>
		    <input type="hidden" name="page" th:value="${page.number-2}">
		</form>
        <form th:each='item : ${page.items}' method="post" th:name="'Btn_' + ${item.number}" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden"><span th:if='${item.current}' th:text='${item.number}'></span>
        	<a th:if='${not item.current}' th:text='${item.number}' th:href='@{javascript:Btn_{btn}.submit()(btn=${item.number})}'></a>
		    <input type="hidden" name="page" th:value="${item.number-1}">
		</form>
        <form method="post" name="BtnNext" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
            <span th:if='${not page.hasNextPage}'>&gt;</span>
		    <a th:if='${page.hasNextPage}' href="javascript:BtnNext.submit()">&gt;</a>
		    <input type="hidden" name="page" th:value="${page.number}">
		</form>
        <form method="post" name="BtnLast" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSomething}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
            <span th:if='${not page.hasNextPage}'>&gt;&gt;</span>
		    <a th:if='${not page.lastPage}' href="javascript:BtnLast.submit()">&gt;&gt;</a>
		    <input type="hidden" name="page" th:value="${page.totalPages - 1}">
		</form>


	   	<!-- 登録ボタン -->
		<form action="/insert" method="post">
			<p><input type="submit" value="新規登録"></p>
		</form>
    </body>
</html>