<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TOP</title>
    	<link href="/main.css" rel="stylesheet"></link>
        <meta charset="utf-8" />
    </head>
    <body>

		<h1>製造部売上管理システム：案件一覧</h1>

		<!-- 登録ボタン -->
		<form class="left" action="/insert" method="post">
			<p><input type="submit" value="新規登録"></p>
		</form>

		<!-- ステータス更新ボタン -->
		<form class="status" action="/status" method="post">
			<p><input type="submit" value="ステータス更新"></p>
		</form>

		<!-- 検索ボタン -->
		<h1 class="search">検索</h1>
		<form th:object="${saleRequest}" action="/search" method="post">
			<div class="center">
				<a>顧客:<select name="searchClient">
					<option value="">---------</option>
					<option th:each="cli : ${clientList}" th:object="${cli}" th:text="*{client}" th:value="${cli.client}" th:selected="${cli.client} == ${saleRequest.searchClient}"></option>
				</select></a><br>

				<a>ステータス:<select name="searchStatus">
					<option value="">---------</option>
					<option th:each="sta : ${statusAndStatusNumber}" th:object="${sta}" th:text="*{status}" th:value="${sta.status_numbers}" th:selected="${sta.status_numbers} == ${saleRequest.searchStatus}"></option>
				</select></a>
			</div>

			<div class="right">
				<p>件名:&emsp; <input th:field="*{searchSubject}"><br>
				<input type="submit" value="検索"></p>
			</div>
		</form>

		<!-- ページングボタン -->
        <form method="post" name="formFirst" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
        	<span th:if='${page.firstPage}'>&lt;&lt;</span>
		    <input type="hidden" name="page" value="0">
		    <a th:if='${not page.firstPage}' href="javascript:formFirst.submit()">&lt;&lt;</a>
		</form>
        <form method="post" name="formPrev" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
        	<span th:if='${page.firstPage}'>&lt;</span>
		    <input type="hidden" name="page" th:value="${page.number-2}">
		    <a th:if='${not page.firstPage}' href="javascript:formPrev.submit()">&lt;</a>
		</form>
        <form th:each='item : ${page.items}' method="post" th:name="'form_' + ${item.number}" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
		    <span th:if='${item.current}' th:text='${item.number}'></span>
		    <input type="hidden" name="page" th:value="${item.number-1}">
        	<a th:if='${not item.current}' th:text='${item.number}' th:href='@{javascript:form_{form}.submit()(form=${item.number})}'></a>
		</form>
        <form method="post" name="formNext" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
            <span th:if='${not page.hasNextPage}'>&gt;</span>
		    <input type="hidden" name="page" th:value="${page.number}">
		    <a th:if='${page.hasNextPage}' href="javascript:formNext.submit()">&gt;</a>
		</form>
        <form method="post" name="formLast" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
            <span th:if='${not page.hasNextPage}'>&gt;&gt;</span>
		    <input type="hidden" name="page" th:value="${page.totalPages - 1}">
		    <a th:if='${not page.lastPage}' href="javascript:formLast.submit()">&gt;&gt;</a>
		</form>

		<!-- テーブル -->
        <table>
	        <thead>
				<tr>
					<th>No.</th>
					<th>顧客</th>
					<th>受注日</th>
					<th>S番号</th>
					<th>件名</th>
					<th>数量</th>
					<th>納入指定日<br>/納入日</th>
					<th>請求日</th>
					<th>見積金額<br>/受注金額</th>
					<th>ステータス</th>
					<th colspan=2></th>
				</tr>
			</thead>

			<tbody>
	            <tr th:each="cus : ${allClientList}" th:object="${cus}">
	                <td th:text="*{no}"/>
	                <td th:text="*{client}"/>
	                <td th:if='*{order_date!=""}' th:text="*{order_date.substring(0,4)} + '/' + *{order_date.substring(4,6)} + '/' + *{order_date.substring(6,8)}"></td>
	                <td th:if='*{order_date==""}' th:text="'-'"></td>
	                <td th:if='*{s_number!=""}' th:text="'S-' + *{s_number}"/>
	                <td th:if='*{s_number==""}' th:text="'-'"/>
	                <td th:text="*{subject}"/>
	                <td th:if='*{quantity!=""}' th:text="*{quantity}"/>
	                <td th:if='*{quantity==""}' th:text="'-'"/>
	                <td>
		                <span th:if='*{delivery_date!=""}' th:text="*{delivery_date.substring(0,4)} + '/' + *{delivery_date.substring(4,6)} + '/' + *{delivery_date.substring(6,8)}"></span>
		                <span th:if='*{delivery_date==""}' th:text="'-'"></span>
		                <br>
		                <th:block th:if='*{due_date!=""}' th:text="*{due_date.substring(0,4)} + '/' + *{due_date.substring(4,6)} + '/' + *{due_date.substring(6,8)}"/>
		                <th:block th:if='*{due_date==""}' th:text="'-'">
	                </td>
	                <td th:if='*{billing_date!=""}' th:text="*{billing_date.substring(0,4)} + '/' + *{billing_date.substring(4,6)} + '/' + *{billing_date.substring(6,8)}"/>
	                <td th:if='*{billing_date==""}' th:text="'-'"/>
	                <td>
		                <span th:if='*{estimated_amount!=""}' th:text="'&yen;' + ${#numbers.formatInteger(cus.estimated_amount, 3, 'COMMA')}"></span>
		                <span th:if='*{estimated_amount==""}' th:text="'-'"></span>
		                <br>
		                <th:block th:if='*{order_amount!=""}' th:text="'&yen;' + ${#numbers.formatInteger(cus.order_amount, 3, 'COMMA')}"/>
		                <th:block th:if='*{order_amount==""}' th:text="'-'"/>
	                </td>

	                <td th:if='*{delete_flgs=="0"}' th:text="*{status}"/>
	                <td th:if='*{delete_flgs=="1"}'></td>


	                <td><form th:action="@{/edit/{no}(no=*{no})}" method="post"><input type="submit" value="編集"></form></td>
	                <td><form th:action="@{/delete/{no}(no=*{no})}" method="post"><input type="submit" value="削除"></form></td>
	            </tr>
            </tbody>
        </table>

		<!-- ページングボタン -->
        <form method="post" name="FormFirst" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
        	<span th:if='${page.firstPage}'>&lt;&lt;</span>
		    <a th:if='${not page.firstPage}' href="javascript:FormFirst.submit()">&lt;&lt;</a>
		    <input type="hidden" name="page" value="0">
		</form>
        <form method="post" name="FormPrev" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
        	<span th:if='${page.firstPage}'>&lt;</span>
		    <a th:if='${not page.firstPage}' href="javascript:FormPrev.submit()">&lt;</a>
		    <input type="hidden" name="page" th:value="${page.number-2}">
		</form>
        <form th:each='item : ${page.items}' method="post" th:name="'Form_' + ${item.number}" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden"><span th:if='${item.current}' th:text='${item.number}'></span>
        	<a th:if='${not item.current}' th:text='${item.number}' th:href='@{javascript:Form_{Form}.submit()(Form=${item.number})}'></a>
		    <input type="hidden" name="page" th:value="${item.number-1}">
		</form>
        <form method="post" name="FormNext" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
            <span th:if='${not page.hasNextPage}'>&gt;</span>
		    <a th:if='${page.hasNextPage}' href="javascript:FormNext.submit()">&gt;</a>
		    <input type="hidden" name="page" th:value="${page.number}">
		</form>
        <form method="post" name="FormLast" action="/page" style="display:inline">
		    <input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
            <span th:if='${not page.hasNextPage}'>&gt;&gt;</span>
		    <a th:if='${not page.lastPage}' href="javascript:FormLast.submit()">&gt;&gt;</a>
		    <input type="hidden" name="page" th:value="${page.totalPages - 1}">
		</form>

	   	<!-- CSV出力ボタン -->
		<form action="/csv" method="post">
			<input th:field="*{saleRequest.searchSubject}" type="hidden">
		    <input th:field="*{saleRequest.searchClient}" type="hidden">
		    <input th:field="*{saleRequest.searchStatus}" type="hidden">
			<p><input type="submit" value="CSV出力"></p>
		</form>
    </body>
</html>