<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ステータス更新</title>
    	<link href="/main.css" rel="stylesheet"></link>
		<meta charset="UTF-8">
	</head>
	<body>

		<h4>製造部売上管理システム：ステータス更新</h4>

		<form action="/statuscheck"  method="post">
			<p><span class="fit">ステータス*</span>:&emsp;
			<select name="status_numbers">
				<option value="">-------------</option>
				<option th:each="sta : ${statusNumber}" th:object="${sta}" th:text="${sta.status}" th:value="*{status_numbers}"></option>
			</select></p>
			<p><span class="fit">ステータス名*</span>:&emsp;<input type="text" name="status" pattern=".{1,4}" required title="ステータス名は全角4文字以内で入力してください。"></p>
			<p><input  type="submit" value="確認" class="btn"><input onclick="history.back()" type="button" value="戻る" class="btn"></p>
		</form>
	</body>
</html>